*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  background: #14213d;
  color: #f1faee;
}

a {
  color: #f1faee;
}

body {
  margin: 0 auto;
  max-width: 45%;
}

.sectionTitle {
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  color: #e63946;
  background-image: linear-gradient(#457b9d, #457b9d);
  background-position: center center;
  background-size: 100% 0.6rem;
  background-repeat: no-repeat;
}

a:hover {
  color: #e63946;
}
