---
import BaseLayout from "../../layouts/BaseLayout.astro";

const tags = ["blogging", "learning in plublic"];
---
<BaseLayout pageTitle="Tag List">
    <div >
        <ul>
        {tags.map(tag => 
            <li class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
            </li>
        )}
        </ul>
    </div>
</BaseLayout>
