---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <h3>👋 I'm Fran - Software Engineer and Technology Enthusiast </h3>
    <p>
        My name is Francisco, I am a Software Engineer based in Spain. I have a strong passion for a variety of topics like web development, IoT, and embedded systems. I like spending some time learning new technologies, practicing sport, and reading fantasy books.
    </p>
    <div>
        You can find me on <a href="https://twitter.com/frandevme">twitter</a> and <a href="https://github.com/FJss23">github</a>
    </div>
    <br>
    <div>
        Some <strong>projects</strong> that I have worked on:
        <ul>
            <br>
            <li><a href="https://github.com/FJss23/jobsearch">jobsearch</a>: job board for remote positions around EU & UK.</li>
            <li><a href="https://jonvallejofoto.com/">jonvallejofo</a>: portfolio website for a photographer.</li>
            <li><a href="https://github.com/FJss23/Internet-Of-Things7.2">arduino mini projects</a>: three mini projects created with Arduino as a web server.</li>
            <li><a href="https://github.com/FJss23/Inci-e3a">incident manager</a>: a system that receive incidents from differents types of agents, those incidents can be measured and visualized to be solved.</li>
        </ul>
    </div>
</BaseLayout>
