---
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <img src="/avatar.webp" alt="A black cat" height="110px" width="110px"/>
    <p>My name is Fran, I am a Software Engineer based in Spain.
        I have a strong passion for a variety of topics like web
         development, IoT, and embedded systems. I like
            spending some time learning new technologies, practicing sport, and
        reading fantasy books.
    </p>
    <h2>Projects</h2>
    <Project name="jobsearch" description={`Lorem ipsum, or lipsum as it is sometimes 
known, is dummy text used in laying out print, graphic or web 
designs. The passage is attributed to an unknown typesetter in 
the 15th century who is thought to have scrambled parts of Cicero's 
De Finibus Bonorum et Malorum for use in a type specimen book. 
It usually begins with`} />
    <Project name="jonvallejofoto" description={`Lorem ipsum, or lipsum as it is sometimes 
known, is dummy text used in laying out print, graphic or web 
designs. The passage is attributed to an unknown typesetter in 
the 15th century who is thought to have scrambled parts of Cicero's 
De Finibus Bonorum et Malorum for use in a type specimen book. 
It usually begins with`} />
    <Project name="flashcards" description={`Lorem ipsum, or lipsum as it is sometimes 
known, is dummy text used in laying out print, graphic or web 
designs. The passage is attributed to an unknown typesetter in 
the 15th century who is thought to have scrambled parts of Cicero's 
De Finibus Bonorum et Malorum for use in a type specimen book. 
It usually begins with`} />
    <h2>Recent articles</h2>
</BaseLayout>
