.container {
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items {
  display: flex;
}

.text {
  margin-top: 0.2rem;
}

.item {
  flex-basis: 50%;
}

.section {
  padding-left: 0.5rem;
}

#db,
#lang {
  margin-top: 0.5rem;
}

@media (max-width: 700px) {
  .item {
    flex-basis: 100%;
  }
}
