.container {
  display: flex;
}

.avatar {
  border-radius: 100%;
}

.name {
  font-size: 0.7rem;
}

.info {
  font-size: 0.6rem;
  margin-top: 0.1rem;
}

.name,
.info {
  margin-left: 0.7rem;
}

.icon {
  margin-right: 0.2rem;
}

.desc {
  display: flex;
  flex-direction: column;
}
