.container {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
  align-items: center;
  width: 100%;
}

.item {
  margin: 0.3rem;
  font-size: 0.9rem;
  width: 70%;
  padding: 0.3rem;
  background: #f1faee;
  border-radius: 8px;
  color: black;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btn {
  background: #457b9d;
  color: #f1faee;
  font-weight: bold;
  padding: 0.6rem 1rem;
  transition-duration: 0.2s;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn:hover {
  background-color: #e63946;
}

.area {
  height: 10rem;
}

@media (max-width: 750px) {
  .btn {
    padding: 1rem;
  }
}

@media (max-width: 550px) {
  .btn,
  .item {
    width: 100%;
  }
}
