---
---
<div class="container">
    <nav>
        <ul>
            <li>
                <a href="/"><strong>fjdevtrace</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/tags">Tags</a>
            </li>
        </ul>
    </nav>
</div>
