---
---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
<a href="/tags">Tags</a>

<a href="http://github.com/FJss23">
    <img src="/github_logo.webp" alt="github logo" height="40px" width="40px"/>
</a>

<a href="https://twitter.com/frandevme">
    <img src="/twitter_logo.webp" alt="twitter logo" width="40px" />
</a>

<a href="http://localhost:3000/rss.xml">
    <img src="/rss.png" alt="rss feed logo" width="40px" />
</a>
