.global {
  margin-bottom: 4rem;
}

.link {
  list-style-type: none;
}

.link a {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover,
.active {
  color: #e63946;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
