.card {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 10px;
  height: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
}

.title,
.subtitle {
  font-weight: bold;
}

.title {
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #1d3557;
}

.technologies {
  flex-basis: 90%;
}
