.frontpage {
  display: flex;
  align-items: center;

  justify-content: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.title {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  align-self: center;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.platform {
  margin-top: 0;
  font-size: 1.4rem;
  align-self: center;
}

.logos {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.logo {
  padding: 0.3rem;
  width: 12%;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}
