---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
    pageTitle?: string,
    description?: string,
    image?: string
}

const { pageTitle, description, image } = Astro.props;
---
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- requried -->
        <meta property="og:title" content={pageTitle || "Home"}>
        <meta property="og:type" content="article" />
        <meta property="og:image" content={image || "/avatar.webp"}>
        <meta property="og:url" content="http://euro-travel-example.com/index.htm">
        <meta name="twitter:card" content="summary_large_image">
        <!-- recommended -->
        <meta property="og:description" content={description || ""}>
        <meta name="twitter:image:alt" content="Alt text for image">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
        <title>{pageTitle || "Home"}</title>
    </head>
    <body>
        <Header />
        <main class="container">
            <slot />
        </main>
        <Footer />
    </body>
</html>
